# Data Preprocessing

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display # Allows the use of display() for DataFrames
# Show matplotlib plots inline (nicely formatted in the notebook)
%matplotlib inline

In [2]:
# Load train and test datasets
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

print ("Training dataset has {} rows and {} columns.").format(*df_train.shape)
print ("Test dataset has {} rows and {} columns.").format(*df_test.shape)

Training dataset has 188318 rows and 132 columns.
Test dataset has 125546 rows and 131 columns.

In [5]:
# Inspect the datasets
display(df_train.head())
display(df_train.describe())
display(df_test.head())
display(df_test.describe())

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

,id,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
count,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000
mean,294135.982561,0.493861,0.507188,0.498918,0.491812,0.487428,0.490945,0.484970,0.486437,0.485506,0.498066,0.493511,0.493150,0.493138,0.495717,3037.337686
std,169336.084867,0.187640,0.207202,0.202105,0.211292,0.209027,0.205273,0.178450,0.199370,0.181660,0.185877,0.209737,0.209427,0.212777,0.222488,2904.086186
min,1.000000,0.000016,0.001149,0.002634,0.176921,0.281143,0.012683,0.069503,0.236880,0.000080,0.000000,0.035321,0.036232,0.000228,0.179722,0.670000
25%,147748.250000,0.346090,0.358319,0.336963,0.327354,0.281143,0.336105,0.350175,0.312800,0.358970,0.364580,0.310961,0.311661,0.315758,0.294610,1204.460000
50%,294539.500000,0.475784,0.555782,0.527991,0.452887,0.422268,0.440945,0.438285,0.441060,0.441450,0.461190,0.457203,0.462286,0.363547,0.407403,2115.570000
75%,440680.500000,0.623912,0.681761,0.634224,0.652072,0.643315,0.655021,0.591045,0.623580,0.566820,0.614590,0.678924,0.675759,0.689974,0.724623,3864.045000
max,587633.000000,0.984975,0.862654,0.944251,0.954297,0.983674,0.997162,1.000000,0.980200,0.995400,0.994980,0.998742,0.998484,0.988494,0.844848,121012.250000

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
0,4,A,B,A,A,A,A,A,A,B,...,0.281143,0.466591,0.317681,0.61229,0.34365,0.38016,0.377724,0.369858,0.704052,0.392562
1,6,A,B,A,B,A,A,A,A,B,...,0.836443,0.482425,0.443760,0.71330,0.51890,0.60401,0.689039,0.675759,0.453468,0.208045
2,9,A,B,A,B,B,A,B,A,B,...,0.718531,0.212308,0.325779,0.29758,0.34365,0.30529,0.245410,0.241676,0.258586,0.297232
3,12,A,A,A,A,B,A,A,A,A,...,0.397069,0.369930,0.342355,0.40028,0.33237,0.31480,0.348867,0.341872,0.592264,0.555955
4,15,B,A,A,A,A,B,A,A,A,...,0.302678,0.398862,0.391833,0.23688,0.43731,0.50556,0.359572,0.352251,0.301535,0.825823

,id,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
count,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000
mean,294067.153442,0.494447,0.506939,0.498255,0.492334,0.487640,0.492188,0.485945,0.487401,0.486015,0.498909,0.494360,0.494033,0.495086,0.495586
std,170098.335649,0.187961,0.206837,0.201746,0.210815,0.209119,0.205574,0.178650,0.199549,0.182134,0.185950,0.210399,0.210148,0.213108,0.222613
min,4.000000,0.000016,0.001149,0.002634,0.176921,0.281143,0.012683,0.069503,0.236880,0.000080,0.000000,0.035321,0.036232,0.000228,0.178568
25%,146414.250000,0.347403,0.358319,0.336963,0.327354,0.281143,0.336105,0.352087,0.317960,0.358970,0.364580,0.310961,0.318249,0.315758,0.294752
50%,294306.000000,0.475784,0.555782,0.527991,0.452887,0.422268,0.441525,0.438893,0.441060,0.441450,0.466720,0.457203,0.462286,0.363547,0.406104
75%,441800.000000,0.626630,0.681761,0.634224,0.652072,0.643315,0.659261,0.591284,0.629180,0.568890,0.619840,0.678924,0.682413,0.689974,0.724791
max,587634.000000,0.984975,0.862654,0.944251,0.956046,0.983107,0.997162,1.000000,0.982800,0.995400,0.994980,0.997830,0.997416,0.988494,0.844814

Since some of the categorical variables can have up to 120+ unique values, creating dummy variables would considerably increase our feature space, requiring lots of memory. To save space, we label encode them instead.

In [6]:
from sklearn.preprocessing import LabelEncoder

def label_encode(df):
    '''Label encode categorical features and normalize continuous features'''
    le = LabelEncoder()
    
    for col, col_data in df.iteritems():
        if col_data.dtype == 'object':
            le.fit(col_data)
            df[col] = le.transform(col_data)      
    return df

df_train = label_encode(df_train)
df_test = label_encode(df_test)
display(df_train.head())
display(df_test.head())

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,0,1,0,1,0,0,0,0,1,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,0,1,0,0,0,0,0,0,1,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,0,1,0,0,1,0,0,0,1,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,1,1,0,1,0,0,0,0,1,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,0,1,0,1,0,0,0,0,1,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
0,4,0,1,0,0,0,0,0,0,1,...,0.281143,0.466591,0.317681,0.61229,0.34365,0.38016,0.377724,0.369858,0.704052,0.392562
1,6,0,1,0,1,0,0,0,0,1,...,0.836443,0.482425,0.443760,0.71330,0.51890,0.60401,0.689039,0.675759,0.453468,0.208045
2,9,0,1,0,1,1,0,1,0,1,...,0.718531,0.212308,0.325779,0.29758,0.34365,0.30529,0.245410,0.241676,0.258586,0.297232
3,12,0,0,0,0,1,0,0,0,0,...,0.397069,0.369930,0.342355,0.40028,0.33237,0.31480,0.348867,0.341872,0.592264,0.555955
4,15,1,0,0,0,0,1,0,0,0,...,0.302678,0.398862,0.391833,0.23688,0.43731,0.50556,0.359572,0.352251,0.301535,0.825823

In [10]:
# Transform
from scipy.stats import boxcox
from scipy.stats import skew

# Get the list of columns to be normalized, ignoring the target variable
def col_to_norm(df, target):
    col_to_norm = []
    for col, col_data in df.iteritems():
        if col == target:
            continue
        elif col_data.dtype == 'float64':
            col_to_norm.append(col)
    return col_to_norm

# First, we need to convert all negative values to positive
def force_positive(df, col_to_norm):
    for col in col_to_norm:
        if np.min(df[col]) < 1:
            df[col] = df[col] + np.abs(np.min(df[col])) + 2
    return df

# Then, we perform the Box-Cox transformation
def transform_box_cox(df, col_to_norm):
    '''Perform Box-Cox transformation for easier model learning'''
    lambda_vals = []
    for col in col_to_norm:
        tformed = boxcox(df[col].values)
        df[col] = tformed[0] #By default, Box-Cox outputs array and lambda. We only want the array output.
        print "Box-Cox lambda: " + col + " " + str(tformed[1])
        lambda_vals.append(tformed[1])
    return df, lambda_vals

def normalize_data(df, col_to_norm):
    '''Normalize data with the standard score for normal distributions'''
    mean_std = []
    for col in col_to_norm:
        mean = np.mean(df[col])
        std = np.std(df[col])
        df[col] = df[col].apply(lambda x: (x - mean) / std)
        print col + ": " + "mean =" + str(mean) + ", std =" + str(std)
        mean_std.append((mean, std))
    return df, mean_std

col_to_norm = col_to_norm(df_train, 'loss')
df_train = force_positive(df_train, col_to_norm)
df_train, lambda_vals = transform_box_cox(df_train, col_to_norm)
df_train, mean_std = normalize_data(df_train, col_to_norm)

display(df_train.describe())

# Calculate skewness of transformed data
for col in col_to_norm:
    skness = skew(df_train[col])
    print col + " skewnesss: {0:.2f}".format(skness)

Box-Cox lambda: cont1 0.978804078009
Box-Cox lambda: cont2 0.985394106026
Box-Cox lambda: cont3 0.927989179108
Box-Cox lambda: cont4 0.63809540093
Box-Cox lambda: cont5 0.00875379455225
Box-Cox lambda: cont6 0.733624296659
Box-Cox lambda: cont7 0.813827890905
Box-Cox lambda: cont8 0.391199987333
Box-Cox lambda: cont9 1.07531679336
Box-Cox lambda: cont10 0.817228947796
Box-Cox lambda: cont11 0.662348896623
Box-Cox lambda: cont12 0.663914494335
Box-Cox lambda: cont13 0.42148626027
Box-Cox lambda: cont14 0.348057576963
cont1: mean =4.40564090179, std =0.96481834825
cont2: mean =3.08520889164, std =0.979958114703
cont3: mean =3.2339260311, std =0.899464879319
cont4: mean =2.04572849446, std =0.625465861536
cont5: mean =1.09809662146, std =0.328271226806
cont6: mean =3.20892175954, std =0.645886083975
cont7: mean =4.03343732263, std =0.718009806485
cont8: mean =1.59919963672, std =0.468664811541
cont9: mean =7.48483417658, std =1.16585074136
cont10: mean =3.72764435643, std =0.732902500411
cont11: mean =2.6590288061, std =0.597672934139
cont12: mean =2.66961326658, std =0.598595418791
cont13: mean =2.48503209081, std =0.373551746176
cont14: mean =1.57853396095, std =0.439618821592

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
count,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,...,1.883180e+05,1.883180e+05,1.883180e+05,1.883180e+05,1.883180e+05,1.883180e+05,1.883180e+05,1.883180e+05,1.883180e+05,188318.000000
mean,294135.982561,0.248346,0.433294,0.054827,0.318201,0.342936,0.300688,0.024289,0.058645,0.399303,...,1.190974e-13,5.112752e-13,8.232706e-13,1.318605e-13,6.893982e-13,2.268432e-12,-3.406751e-13,-1.443577e-12,-8.219160e-14,3037.337686
std,169336.084867,0.432055,0.495532,0.227644,0.465779,0.474692,0.458559,0.153944,0.234961,0.489757,...,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,2904.086186
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-3.569433e+00,-4.320550e+00,-1.713321e+00,-5.536899e+00,-3.813881e+00,-2.977122e+00,-2.989358e+00,-4.497390e+00,-1.807530e+00,0.670000
25%,147748.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-7.093528e-01,-7.402117e-01,-8.903927e-01,-6.919083e-01,-6.732106e-01,-8.479792e-01,-8.436839e-01,-8.011025e-01,-8.798685e-01,1204.460000
50%,294539.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.011976e-01,-8.635334e-02,4.354682e-02,-7.187720e-02,-9.029737e-02,-4.622149e-02,-1.764253e-02,-4.854172e-01,-2.072009e-01,2115.570000
75%,440680.500000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,...,8.728169e-01,7.654946e-01,8.636154e-01,6.649438e-01,7.022259e-01,9.190741e-01,9.105610e-01,9.840738e-01,1.034459e+00,3864.045000
max,587633.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.946529e+00,2.044906e+00,1.698712e+00,2.068663e+00,2.171696e+00,1.962396e+00,1.960123e+00,1.743577e+00,1.358722e+00,121012.250000

lambda_vals [0.97880407800878244, 0.98539410602577482, 0.92798917910763146, 0.63809540092970896, 0.0087537945522479683, 0.73362429665914186, 0.81382789090507657, 0.39119998733253614, 1.0753167933620043, 0.81722894779589483, 0.66234889662255969, 0.66391449433466632, 0.42148626027036307, 0.34805757696275136]
mean_std [(4.405640901793713, 0.964818348250038), (3.0852088916433407, 0.9799581147025809), (3.2339260311022784, 0.8994648793185197), (2.045728494462143, 0.6254658615358747), (1.0980966214585572, 0.3282712268064772), (3.208921759538303, 0.6458860839748719), (4.033437322630978, 0.7180098064848383), (1.5991996367180565, 0.468664811541168), (7.48483417658183, 1.1658507413649548), (3.7276443564259636, 0.7329025004109625), (2.6590288060954683, 0.5976729341391429), (2.669613266579387, 0.5985954187911692), (2.4850320908148795, 0.3735517461761724), (1.5785339609463571, 0.4396188215921845)]
cont1 skewnesss: -0.00
cont2 skewnesss: -0.09
cont3 skewnesss: -0.05
cont4 skewnesss: -0.06
cont5 skewnesss: -0.00
cont6 skewnesss: -0.04
cont7 skewnesss: -0.01
cont8 skewnesss: -0.05
cont9 skewnesss: 0.05
cont10 skewnesss: -0.03
cont11 skewnesss: -0.05
cont12 skewnesss: -0.05
cont13 skewnesss: -0.02
cont14 skewnesss: -0.05

In [13]:
# Transform test set with parameters done for training set
def transform_test_set(df, col_to_norm, lambda_vals, mean_std):
    for col in col_to_norm:
        if np.min(df[col]) < 1:
            df[col] = df[col] + np.abs(np.min(df[col])) + 2
            
    for col, val in zip(col_to_norm, lambda_vals):
        tformed = boxcox(df[col].values, lmbda=val)
        df[col] = tformed[0] #By default, Box-Cox outputs array and lambda. We only want the array output.
        
    for col, (mean, std) in zip(col_to_norm, mean_std):
        df[col] = df[col].apply(lambda x: (x - mean) / std)

    return df

df_test = transform_test_set(df_test, col_to_norm, lambda_vals, mean_std)

display(df_test.describe())

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
count,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.00000,125546.000000,125546.000000,125546.000000,...,1.255460e+05,1.255460e+05,1.255460e+05,1.255460e+05,1.255460e+05,1.255460e+05,1.255460e+05,1.255460e+05,1.255460e+05,1.255460e+05
mean,294067.153442,0.250506,0.432853,0.054116,0.314785,0.344607,0.29895,0.023896,0.059213,0.398555,...,-4.670263e-01,-2.970429e+00,-3.854536e+00,-6.512206e-01,-5.224355e+00,-3.364295e+00,-2.447742e+00,-2.468786e+00,-3.343957e+00,-1.047484e+00
std,170098.335649,0.433306,0.495473,0.226247,0.464432,0.475242,0.45780,0.152725,0.236025,0.489603,...,6.190073e-13,8.757918e-12,8.433732e-12,1.411321e-12,6.718208e-12,8.596713e-12,8.124200e-12,3.922656e-12,8.026944e-12,2.592159e-12
min,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,-4.670263e-01,-2.970429e+00,-3.854536e+00,-6.512206e-01,-5.224355e+00,-3.364295e+00,-2.447742e+00,-2.468786e+00,-3.343957e+00,-1.047484e+00
25%,146414.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,-4.670263e-01,-2.970429e+00,-3.854536e+00,-6.512206e-01,-5.224355e+00,-3.364295e+00,-2.447742e+00,-2.468786e+00,-3.343957e+00,-1.047484e+00
50%,294306.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,-4.670263e-01,-2.970429e+00,-3.854536e+00,-6.512206e-01,-5.224355e+00,-3.364295e+00,-2.447742e+00,-2.468786e+00,-3.343957e+00,-1.047484e+00
75%,441800.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.00000,0.000000,0.000000,1.000000,...,-4.670263e-01,-2.970429e+00,-3.854536e+00,-6.512206e-01,-5.224355e+00,-3.364295e+00,-2.447742e+00,-2.468786e+00,-3.343957e+00,-1.047484e+00
max,587634.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,...,-4.670263e-01,-2.970429e+00,-3.854536e+00,-6.512206e-01,-5.224355e+00,-3.364295e+00,-2.447742e+00,-2.468786e+00,-3.343957e+00,-1.047484e+00

In [ ]:
sns_plot = sns.pairplot(df_train)
sns_plot.savefig("output_asc_after_norm.png")

In [14]:
# Save preprocessed datasets to pickle
df_train.to_pickle('train_2.pickle')
df_test.to_pickle('test_2.pickle')
print "Files saved."

Files saved.